name: Update TOC

on:
  push:
    branches: [ main ]
    paths:
      - "articles/**/*.md"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate TOC
        run: |
          echo "<!-- toc:start -->" > new_toc.txt
          echo "" >> new_toc.txt
          find articles -name "*.md" | sort | while read FILE; do
            TITLE=$(grep -m1 '^# ' "$FILE" | sed 's/^# //')
            [ -z "$TITLE" ] && TITLE=$(basename "$FILE" .md)
            echo "- [${TITLE}]($FILE)" >> new_toc.txt
          done
          echo "" >> new_toc.txt
          echo "<!-- toc:end -->" >> new_toc.txt

      - name: Replace TOC in index.md
        run: |
          perl -0777 -pe 's|<!-- toc:start -->.*?<!-- toc:end -->|`cat new_toc.txt`|se' index.md > temp_index.md
          mv temp_index.md index.md

      - name: Commit changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add index.md
          git diff --quiet && echo "No changes to commit" || git commit -m "Update TOC automatically"
          git push
